In [1]:
import main
import modifying_data
import pandas as pd
import json

In [2]:
import pasing_page

# 하나의 경기 데이터 보여주기(크롤링한 상태와 변화된 상태)

In [17]:
# 10월 10일 kt 와 롯데 간의 첫번째 경기에 대한 데이터를 가져옵니다.
temp_data = main.get_data("20181010","KTLT1")

In [18]:
# 해당 경기 정보에 대해  제대로 데이터가 들어왔는지 확인합니다. 
temp_data['20181010_KTLT1']

{'scoreboard': [{'팀': 'KT',
   '승패': '승',
   '1': 1,
   '2': 4,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 4,
   '8': 1,
   '9': 0,
   '10': '-',
   '11': '-',
   '12': '-',
   'R': 10,
   'H': 12,
   'E': 0,
   'B': 3},
  {'팀': '롯데',
   '승패': '패',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 1,
   '9': 0,
   '10': '-',
   '11': '-',
   '12': '-',
   'R': 1,
   'H': 6,
   'E': 3,
   'B': 1}],
 'ETC_info': {'결승타': '유한준(1회 2사서 좌월 홈런)',
  '홈런': ['유한준20호(1회1점 박세웅', '강백호29호(8회1점 김건국', '한동희4호(8회1점 김사율)'],
  '2루타': ['황재균2(2 7회', '강백호(2회', '이진영(2회', '박경수(7회)'],
  '실책': ['채태인2(1회', '번즈(4회)'],
  '병살타': ['이진영(1회', '이대호(6회)'],
  '폭투': ['박세웅(1회', '정성종(7회', '윤성빈(9회)'],
  '심판': ['이계성', '권영철', '이용혁', '강광회'],
  '구장': '사직',
  '관중': '4,793',
  '개시': '14:59',
  '종료': '18:02',
  '경기시간': '3:03'},
 'away_batter': [{'포지션': '좌',
   '선수명': '강백호',
   '1': '1실',
   '2': '중2',
   '3': 0,
   '4': '삼진',
   '5': 0,
   '6': '2땅',
   '7': 0,
   '8': '우중홈',
   '9': 0,
   '타수': 5,
   '안타': 2,
   '타점': 3,
   '득점': 2,
   '타율': 0.294,
   '팀': 'KT'},
  {'포지션': '좌',
   '선수명': '송민섭',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 0,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.148,
   '팀': 'KT'},
  {'포지션': '지',
   '선수명': '이진영',
   '1': '2유병',
   '2': '좌중2',
   '3': 0,
   '4': '2실',
   '5': 0,
   '6': 0,
   '7': '중안',
   '8': 0,
   '9': 0,
   '타수': 4,
   '안타': 2,
   '타점': 1,
   '득점': 0,
   '타율': 0.31,
   '팀': 'KT'},
  {'포지션': '주지',
   '선수명': '김진곤',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': '2땅',
   '9': 0,
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 1,
   '타율': 0.158,
   '팀': 'KT'},
  {'포지션': '우',
   '선수명': '유한준',
   '1': '좌홈',
   '2': '4구',
   '3': 0,
   '4': '유땅',
   '5': 0,
   '6': 0,
   '7': '투안',
   '8': 0,
   '9': 0,
   '타수': 3,
   '안타': 2,
   '타점': 1,
   '득점': 1,
   '타율': 0.337,
   '팀': 'KT'},
  {'포지션': '주우',
   '선수명': '배정대',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': '삼진',
   '9': 0,
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 1,
   '타율': 0.2,
   '팀': 'KT'},
  {'포지션': '중',
   '선수명': '로하스',
   '1': '1실',
   '2': '2땅',
   '3': 0,
   '4': 0,
   '5': '4구',
   '6': 0,
   '7': '좌비',
   '8': '삼진',
   '9': 0,
   '타수': 4,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.304,
   '팀': 'KT'},
  {'포지션': '투',
   '선수명': '김사율',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 0,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.0,
   '팀': 'KT'},
  {'포지션': '투',
   '선수명': '고창성',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 0,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.0,
   '팀': 'KT'},
  {'포지션': '二',
   '선수명': '박경수',
   '1': '삼진',
   '2': '우비',
   '3': 0,
   '4': 0,
   '5': '삼진',
   '6': 0,
   '7': '좌2',
   '8': 0,
   '9': 0,
   '타수': 4,
   '안타': 1,
   '타점': 1,
   '득점': 0,
   '타율': 0.265,
   '팀': 'KT'},
  {'포지션': '주二',
   '선수명': '박기혁',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': '4구',
   '타수': 0,
   '안타': 0,
   '타점': 0,
   '득점': 1,
   '타율': 0.215,
   '팀': 'KT'},
  {'포지션': '三',
   '선수명': '황재균',
   '1': 0,
   '2': '좌2',
   '3': '2땅',
   '4': 0,
   '5': '2땅',
   '6': 0,
   '7': '중2',
   '8': 0,
   '9': '중비',
   '타수': 5,
   '안타': 2,
   '타점': 1,
   '득점': 2,
   '타율': 0.291,
   '팀': 'KT'},
  {'포지션': '三',
   '선수명': '고명성',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 0,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.0,
   '팀': 'KT'},
  {'포지션': '一',
   '선수명': '오태곤',
   '1': 0,
   '2': '우안',
   '3': '중비',
   '4': 0,
   '5': '삼진',
   '6': 0,
   '7': '투땅',
   '8': 0,
   '9': '삼진',
   '타수': 5,
   '안타': 1,
   '타점': 0,
   '득점': 0,
   '타율': 0.261,
   '팀': 'KT'},
  {'포지션': '포',
   '선수명': '장성우',
   '1': 0,
   '2': '우안',
   '3': '우비',
   '4': 0,
   '5': 0,
   '6': '우비',
   '7': '중안',
   '8': 0,
   '9': 0,
   '타수': 4,
   '안타': 2,
   '타점': 2,
   '득점': 1,
   '타율': 0.261,
   '팀': 'KT'},
  {'포지션': '포',
   '선수명': '이해창',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': '3파',
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.216,
   '팀': 'KT'},
  {'포지션': '유',
   '선수명': '심우준',
   '1': 0,
   '2': '투땅',
   '3': 0,
   '4': '중비',
   '5': 0,
   '6': '중비',
   '7': '2비',
   '8': 0,
   '9': 0,
   '타수': 4,
   '안타': 0,
   '타점': 0,
   '득점': 1,
   '타율': 0.258,
   '팀': 'KT'}],
 'home_batter': [{'포지션': '중',
   '선수명': '민병헌',
   '1': '삼진',
   '2': 0,
   '3': '중비',
   '4': 0,
   '5': 0,
   '6': '삼진',
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 3,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.316,
   '팀': '롯데'},
  {'포지션': '중',
   '선수명': '나경민',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': '삼진',
   '9': 0,
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.264,
   '팀': '롯데'},
  {'포지션': '우',
   '선수명': '손아섭',
   '1': '투땅',
   '2': 0,
   '3': 0,
   '4': '중비',
   '5': 0,
   '6': '좌안',
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 3,
   '안타': 1,
   '타점': 0,
   '득점': 0,
   '타율': 0.337,
   '팀': '롯데'},
  {'포지션': '우',
   '선수명': '조홍석',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': '2직',
   '9': 0,
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.22,
   '팀': '롯데'},
  {'포지션': '좌',
   '선수명': '전준우',
   '1': '3땅',
   '2': 0,
   '3': 0,
   '4': '3안',
   '5': 0,
   '6': '중안',
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 3,
   '안타': 2,
   '타점': 0,
   '득점': 0,
   '타율': 0.343,
   '팀': '롯데'},
  {'포지션': '一',
   '선수명': '나원탁',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': '우비',
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.13,
   '팀': '롯데'},
  {'포지션': '지',
   '선수명': '이대호',
   '1': 0,
   '2': '2비',
   '3': 0,
   '4': '삼진',
   '5': 0,
   '6': '유2병',
   '7': 0,
   '8': 0,
   '9': '삼진',
   '타수': 4,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.338,
   '팀': '롯데'},
  {'포지션': '一',
   '선수명': '채태인',
   '1': 0,
   '2': '우안',
   '3': 0,
   '4': '우비',
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 2,
   '안타': 1,
   '타점': 0,
   '득점': 0,
   '타율': 0.296,
   '팀': '롯데'},
  {'포지션': '포',
   '선수명': '나종덕',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': '3땅',
   '8': 0,
   '9': '4구',
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.121,
   '팀': '롯데'},
  {'포지션': '유',
   '선수명': '문규현',
   '1': 0,
   '2': '우비',
   '3': 0,
   '4': 0,
   '5': '삼진',
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 2,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.282,
   '팀': '롯데'},
  {'포지션': '一좌',
   '선수명': '김문호',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': '삼진',
   '8': 0,
   '9': '3비',
   '타수': 2,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.25,
   '팀': '롯데'},
  {'포지션': '三二',
   '선수명': '전병우',
   '1': 0,
   '2': '삼진',
   '3': 0,
   '4': 0,
   '5': '삼진',
   '6': 0,
   '7': '삼진',
   '8': 0,
   '9': 0,
   '타수': 3,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.388,
   '팀': '롯데'},
  {'포지션': '二',
   '선수명': '번즈',
   '1': 0,
   '2': 0,
   '3': '삼진',
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.271,
   '팀': '롯데'},
  {'포지션': '二',
   '선수명': '신본기',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': '2비',
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.294,
   '팀': '롯데'},
  {'포지션': '三',
   '선수명': '한동희',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': '우중홈',
   '9': 0,
   '타수': 1,
   '안타': 1,
   '타점': 1,
   '득점': 1,
   '타율': 0.229,
   '팀': '롯데'},
  {'포지션': '포',
   '선수명': '안중열',
   '1': 0,
   '2': 0,
   '3': '3땅',
   '4': 0,
   '5': 0,
   '6': 0,
   '7': 0,
   '8': 0,
   '9': 0,
   '타수': 1,
   '안타': 0,
   '타점': 0,
   '득점': 0,
   '타율': 0.252,
   '팀': '롯데'},
  {'포지션': '타一',
   '선수명': '정훈',
   '1': 0,
   '2': 0,
   '3': 0,
   '4': 0,
   '5': 0,
   '6': '우안',
   '7': 0,
   '8': '삼진',
   '9': 0,
   '타수': 2,
   '안타': 1,
   '타점': 0,
   '득점': 0,
   '타율': 0.304,
   '팀': '롯데'}],
 'away_pitcher': [{'선수명': '고영표',
   '등판': '선발',
   '결과': '승',
   '승': 6,
   '패': 9,
   '세': 0,
   '이닝': '5',
   '타자': 17,
   '투구수': 65,
   '타수': 17,
   '피안타': 2,
   '홈런': 0.0,
   '4사구': 0.0,
   '삼진': 6.0,
   '실점': 0.0,
   '자책': 0.0,
   '평균자책점': 5.13,
   '팀': 'KT'},
  {'선수명': '김태오',
   '등판': '6.9',
   '결과': 0,
   '승': 1,
   '패': 2,
   '세': 0,
   '이닝': '1\\/3',
   '타자': 4,
   '투구수': 14,
   '타수': 4,
   '피안타': 3,
   '홈런': 0.0,
   '4사구': 0.0,
   '삼진': 1.0,
   '실점': 0.0,
   '자책': 0.0,
   '평균자책점': 5.95,
   '팀': 'KT'},
  {'선수명': '엄상백',
   '등판': '6.4',
   '결과': '홀드',
   '승': 1,
   '패': 8,
   '세': 2,
   '이닝': '2\\/3',
   '타자': 1,
   '투구수': 6,
   '타수': 1,
   '피안타': 0,
   '홈런': 0.0,
   '4사구': 0.0,
   '삼진': 0.0,
   '실점': 0.0,
   '자책': 0.0,
   '평균자책점': 5.48,
   '팀': 'KT'},
  {'선수명': '이종혁',
   '등판': '7.5',
   '결과': 0,
   '승': 0,
   '패': 5,
   '세': 1,
   '이닝': '1',
   '타자': 3,
   '투구수': 11,
   '타수': 3,
   '피안타': 0,
   '홈런': 0.0,
   '4사구': 0.0,
   '삼진': 2.0,
   '실점': 0.0,
   '자책': 0.0,
   '평균자책점': 4.5,
   '팀': 'KT'},
  {'선수명': '김사율',
   '등판': '8.8',
   '결과': 0,
   '승': 1,
   '패': 2,
   '세': 0,
   '이닝': '1',
   '타자': 4,
   '투구수': 21,
   '타수': 4,
   '피안타': 1,
   '홈런': 1.0,
   '4사구': 0.0,
   '삼진': 2.0,
   '실점': 1.0,
   '자책': 1.0,
   '평균자책점': 5.8,
   '팀': 'KT'},
  {'선수명': '고창성',
   '등판': '9.3',
   '결과': 0,
   '승': 2,
   '패': 0,
   '세': 0,
   '이닝': '1',
   '타자': 4,
   '투구수': 16,
   '타수': 3,
   '피안타': 0,
   '홈런': 0.0,
   '4사구': 1.0,
   '삼진': 1.0,
   '실점': 0.0,
   '자책': 0.0,
   '평균자책점': 6.69,
   '팀': 'KT'}],
 'home_pitcher': [{'선수명': '박세웅',
   '등판': '선발',
   '결과': '패',
   '승': 1,
   '패': 5,
   '세': 0,
   '이닝': '1 1\\/3',
   '타자': 12,
   '투구수': 36,
   '타수': 11,
   '피안타': 6,
   '홈런': 1.0,
   '4사구': 1.0,
   '삼진': 1.0,
   '실점': 5.0,
   '자책': 5.0,
   '평균자책점': 9.92,
   '팀': '롯데'},
  {'선수명': '정성종',
   '등판': '2.4',
   '결과': 0,
   '승': 0,
   '패': 0,
   '세': 0,
   '이닝': '5',
   '타자': 20,
   '투구수': 77,
   '타수': 19,
   '피안타': 3,
   '홈런': 0.0,
   '4사구': 1.0,
   '삼진': 3.0,
   '실점': 3.0,
   '자책': 3.0,
   '평균자책점': 4.86,
   '팀': '롯데'},
  {'선수명': '김건국',
   '등판': '7.6',
   '결과': 0,
   '승': 0,
   '패': 0,
   '세': 0,
   '이닝': '1 1\\/3',
   '타자': 7,
   '투구수': 37,
   '타수': 7,
   '피안타': 3,
   '홈런': 1.0,
   '4사구': 0.0,
   '삼진': 1.0,
   '실점': 2.0,
   '자책': 2.0,
   '평균자책점': 3.18,
   '팀': '롯데'},
  {'선수명': '윤성빈',
   '등판': '8.4',
   '결과': 0,
   '승': 2,
   '패': 5,
   '세': 0,
   '이닝': '1 1\\/3',
   '타자': 5,
   '투구수': 20,
   '타수': 4,
   '피안타': 0,
   '홈런': 0.0,
   '4사구': 1.0,
   '삼진': 2.0,
   '실점': 0.0,
   '자책': 0.0,
   '평균자책점': 6.43,
   '팀': '롯데'}]}

In [19]:
# 어떤 테이블이 있는지 key 값을 통해 확인합니다. 
list(temp_data['20181010_KTLT1'].keys())

['scoreboard',
 'ETC_info',
 'away_batter',
 'home_batter',
 'away_pitcher',
 'home_pitcher']

In [20]:
#경기의 점수 상황 판을 테이블로 확인합니다.
pd.DataFrame(temp_data['20181010_KTLT1']['scoreboard'])

   1 10 11 12  2  3  4  5  6  7  8  9  B  E   H   R 승패   팀
0  1  -  -  -  4  0  0  0  0  4  1  0  3  0  12  10  승  KT
1  0  -  -  -  0  0  0  0  0  0  1  0  1  3   6   1  패  롯데

In [21]:
# 도루를 비롯한 구장, 관중 수 등의 정보를 확인합니다.
temp_data['20181010_KTLT1']['ETC_info']

{'결승타': '유한준(1회 2사서 좌월 홈런)',
 '홈런': ['유한준20호(1회1점 박세웅', '강백호29호(8회1점 김건국', '한동희4호(8회1점 김사율)'],
 '2루타': ['황재균2(2 7회', '강백호(2회', '이진영(2회', '박경수(7회)'],
 '실책': ['채태인2(1회', '번즈(4회)'],
 '병살타': ['이진영(1회', '이대호(6회)'],
 '폭투': ['박세웅(1회', '정성종(7회', '윤성빈(9회)'],
 '심판': ['이계성', '권영철', '이용혁', '강광회'],
 '구장': '사직',
 '관중': '4,793',
 '개시': '14:59',
 '종료': '18:02',
 '경기시간': '3:03'}

In [22]:
# 원정팀인 kt의 타자 정보를 테이블로 확인합니다.
pd.DataFrame(temp_data['20181010_KTLT1']['away_batter']).head()

     1    2  3   4  5   6   7    8  9  득점  선수명  안타  타수     타율  타점   팀 포지션
0   1실   중2  0  삼진  0  2땅   0  우중홈  0   2  강백호   2   5  0.294   3  KT   좌
1    0    0  0   0  0   0   0    0  0   0  송민섭   0   0  0.148   0  KT   좌
2  2유병  좌중2  0  2실  0   0  중안    0  0   0  이진영   2   4  0.310   1  KT   지
3    0    0  0   0  0   0   0   2땅  0   1  김진곤   0   1  0.158   0  KT  주지
4   좌홈   4구  0  유땅  0   0  투안    0  0   1  유한준   2   3  0.337   1  KT   우

In [23]:
# 홈팀인 롯데의 타자 정보를 테이블로 확인합니다.
pd.DataFrame(temp_data['20181010_KTLT1']['home_batter']).head()

    1  2   3   4  5   6  7   8  9  득점  선수명  안타  타수     타율  타점   팀 포지션
0  삼진  0  중비   0  0  삼진  0   0  0   0  민병헌   0   3  0.316   0  롯데   중
1   0  0   0   0  0   0  0  삼진  0   0  나경민   0   1  0.264   0  롯데   중
2  투땅  0   0  중비  0  좌안  0   0  0   0  손아섭   1   3  0.337   0  롯데   우
3   0  0   0   0  0   0  0  2직  0   0  조홍석   0   1  0.220   0  롯데   우
4  3땅  0   0  3안  0  중안  0   0  0   0  전준우   2   3  0.343   0  롯데   좌

In [24]:
#원정팀인 kt의 투수 정보를 테이블로 확인합니다.
pd.DataFrame(temp_data['20181010_KTLT1']['away_pitcher'])

,4사구,결과,등판,삼진,선수명,세,승,실점,이닝,자책,타수,타자,투구수,팀,패,평균자책점,피안타,홈런
0,0.0,승,선발,6.0,고영표,0,6,0.0,5,0.0,17,17,65,KT,9,5.13,2,0.0
1,0.0,0,6.9,1.0,김태오,0,1,0.0,1\/3,0.0,4,4,14,KT,2,5.95,3,0.0
2,0.0,홀드,6.4,0.0,엄상백,2,1,0.0,2\/3,0.0,1,1,6,KT,8,5.48,0,0.0
3,0.0,0,7.5,2.0,이종혁,1,0,0.0,1,0.0,3,3,11,KT,5,4.50,0,0.0
4,0.0,0,8.8,2.0,김사율,0,1,1.0,1,1.0,4,4,21,KT,2,5.80,1,1.0
5,1.0,0,9.3,1.0,고창성,0,2,0.0,1,0.0,3,4,16,KT,0,6.69,0,0.0

In [25]:
# 홈팀인 롯데의 투수 정보를 테이블로 확인합니다.
pd.DataFrame(temp_data['20181010_KTLT1']['home_pitcher'])

,4사구,결과,등판,삼진,선수명,세,승,실점,이닝,자책,타수,타자,투구수,팀,패,평균자책점,피안타,홈런
0,1.0,패,선발,1.0,박세웅,0,1,5.0,1 1\/3,5.0,11,12,36,롯데,5,9.92,6,1.0
1,1.0,0,2.4,3.0,정성종,0,0,3.0,5,3.0,19,20,77,롯데,0,4.86,3,0.0
2,0.0,0,7.6,1.0,김건국,0,0,2.0,1 1\/3,2.0,7,7,37,롯데,0,3.18,3,1.0
3,1.0,0,8.4,2.0,윤성빈,0,2,0.0,1 1\/3,0.0,4,5,20,롯데,5,6.43,0,0.0

In [26]:
#타자와 투수데이터를 다루기 편하게 변경해 줍니다.
temp=main.modify_data(temp_data)

In [27]:
#원정팀의 타자 데이터가 제대로 변경됬는지 확인합니다.
pd.DataFrame(temp['20181010_KTLT1']['away_batter']).head()

,1,2,3,4,5,6,7,8,9,경기날짜,...,득점,선수명,안타,원정팀,타수,타율,타점,팀,포지션,홈팀
0,6000,1118,0,2000,0,7101,0,1300,0,2018-10-10,...,2,강백호,2,KT,5,0.294,3,KT,좌,롯데
1,0,0,0,0,0,0,0,0,0,2018-10-10,...,0,송민섭,0,KT,0,0.148,0,KT,좌,롯데
2,7206,1117,0,6001,0,0,1019,0,0,2018-10-10,...,0,이진영,2,KT,4,0.310,1,KT,지,롯데
3,0,0,0,0,0,0,0,7101,0,2018-10-10,...,1,김진곤,0,KT,1,0.158,0,KT,주지,롯데
4,1303,3000,0,7104,0,0,1023,0,0,2018-10-10,...,1,유한준,2,KT,3,0.337,1,KT,우,롯데

In [28]:
#홈팀의 타자 데이터가 제대로 변경됬는지 확인합니다.
pd.DataFrame(temp['20181010_KTLT1']['home_batter']).head()

,1,2,3,4,5,6,7,8,9,경기날짜,...,득점,선수명,안타,원정팀,타수,타율,타점,팀,포지션,홈팀
0,2000,0,7006,0,0,2000,0,0,0,2018-10-10,...,0,민병헌,0,KT,3,0.316,0,롯데,중,롯데
1,0,0,0,0,0,0,0,2000,0,2018-10-10,...,0,나경민,0,KT,1,0.264,0,롯데,중,롯데
2,7107,0,0,7006,0,1017,0,0,0,2018-10-10,...,0,손아섭,1,KT,3,0.337,0,롯데,우,롯데
3,0,0,0,0,0,0,0,7301,0,2018-10-10,...,0,조홍석,0,KT,1,0.220,0,롯데,우,롯데
4,7102,0,0,1008,0,1019,0,0,0,2018-10-10,...,0,전준우,2,KT,3,0.343,0,롯데,좌,롯데

In [29]:
#원정팀의 투수 데이터가 제대로 변경됬는지 확인합니다.
pd.DataFrame(temp['20181010_KTLT1']['away_pitcher']).head()

,4사구,inning,restinning,경기날짜,더블헤더여부,등판,무승부,삼진,선수명,세이브,...,실점,원정팀,자책,타수,타자,팀,패배,포지션,홀드,홈팀
0,0.0,5,0,2018-10-10,1,1.1,0,6.0,고영표,0,...,0.0,KT,0.0,17,17,KT,0,선발투수,0,롯데
1,0.0,0,1,2018-10-10,1,6.9,0,1.0,김태오,0,...,0.0,KT,0.0,4,4,KT,0,불펜투수,0,롯데
2,0.0,0,2,2018-10-10,1,6.4,0,0.0,엄상백,0,...,0.0,KT,0.0,1,1,KT,0,불펜투수,1,롯데
3,0.0,1,0,2018-10-10,1,7.5,0,2.0,이종혁,0,...,0.0,KT,0.0,3,3,KT,0,불펜투수,0,롯데
4,0.0,1,0,2018-10-10,1,8.8,0,2.0,김사율,0,...,1.0,KT,1.0,4,4,KT,0,불펜투수,0,롯데

In [30]:
#홈팀의 투수 데이터가 제대로 변경됬는지 확인합니다.
pd.DataFrame(temp['20181010_KTLT1']['home_pitcher']).head()

,4사구,inning,restinning,경기날짜,더블헤더여부,등판,무승부,삼진,선수명,세이브,...,실점,원정팀,자책,타수,타자,팀,패배,포지션,홀드,홈팀
0,1.0,1,1,2018-10-10,1,1.1,0,1.0,박세웅,0,...,5.0,KT,5.0,11,12,롯데,1,선발투수,0,롯데
1,1.0,5,0,2018-10-10,1,2.4,0,3.0,정성종,0,...,3.0,KT,3.0,19,20,롯데,0,불펜투수,0,롯데
2,0.0,1,1,2018-10-10,1,7.6,0,1.0,김건국,0,...,2.0,KT,2.0,7,7,롯데,0,불펜투수,0,롯데
3,1.0,1,1,2018-10-10,1,8.4,0,2.0,윤성빈,0,...,0.0,KT,0.0,4,5,롯데,0,불펜투수,0,롯데

# 한화 2018시즌 경기자료 데이터로 구성하기

In [2]:
#한화의 경기 아이디 목록을 불러와 줍니다.
sample=pd.read_csv("./data/Hanhwa_game_id_sample.csv")
sample.date=sample.date.astype(str)

In [3]:
#전체 자료를 수집하는 방법
kbo_id_full=pd.read_csv("./data/KBO_gameid_full.csv")
kbo_id_full.date=kbo_id_full.date.astype(str)

In [ ]:
full_data={}
for i in range(1060,len(kbo_id_full)):
    print(i)
    print(kbo_id_full.date[i],kbo_id_full.gameid[i])
    temp_data = main.get_data(kbo_id_full.date[i],kbo_id_full.gameid[i])
    temp_data = main.modify_data(temp_data)
    full_data.update(temp_data)

1060
20111006 SSLG0
1061
20111006 OBWO0
1062
20111006 HHLT0
1063
20111006 SKHT0
1064
20120407 HTSK0
1065
20120407 HHLT0
1066
20120407 WOOB0
1067
20120407 LGSS0
1068
20120408 WOOB0
1069
20120408 HTSK0
1070
20120408 LGSS0
1071
20120408 HHLT0
1072
20120411 LTLG0
1073
20120411 SKWO0
1074
20120411 SSHT0
1075
20120411 OBHH0
1076
20120412 LTLG0
1077
20120412 SKWO0
1078
20120412 SSHT0
1079
20120412 OBHH0
1080
20120413 HTLG0
1081
20120413 HHSK0
1082
20120413 WOSS0
1083
20120413 OBLT0
1084
20120414 HTLG0
1085
20120414 HHSK0
1086
20120414 WOSS0
1087
20120414 OBLT0
1088
20120415 HTLG0
1089
20120415 HHSK0
1090
20120415 WOSS0
1091
20120415 OBLT0
1092
20120417 SSOB0
1093
20120417 HTWO0
1094
20120417 SKLT0
1095
20120417 LGHH0
1096
20120418 SSOB0
1097
20120418 HTWO0
1098
20120418 SKLT0
1099
20120418 LGHH0
1100
20120419 SSOB0
1101
20120419 HTWO0
1102
20120419 SKLT0
1103
20120419 LGHH0
1104
20120420 SKLG0
1105
20120420 OBWO0
1106
20120420 LTHT0
1107
20120420 SSHH0
1108
20120422 SSHH0
1109
20120424 WOLG0
1110
20120424 OBSK0
1111
20120424 LTSS0
1112
20120424 HHHT0
1113
20120426 WOLG0
1114
20120426 OBSK0
1115
20120426 LTSS0
1116
20120426 HHHT0
1117
20120427 HTOB0
1118
20120427 SSSK0
1119
20120427 LGLT0
1120
20120427 WOHH0
1121
20120428 HTOB0
1122
20120428 SSSK0
1123
20120428 LGLT0
1124
20120428 WOHH0
1125
20120429 HTOB0
1126
20120429 SSSK0
1127
20120429 LGLT0
1128
20120429 WOHH0
1129
20120501 HHLG0
1130
20120501 LTWO0
1131
20120502 HHLG0
1132
20120502 LTWO0
1133
20120502 OBSS0
1134
20120503 HHLG0
1135
20120503 LTWO0
1136
20120503 OBSS0
1137
20120503 SKHT0
1138
20120504 OBLG0
1139
20120504 LTSK0
1140
20120504 HHSS0
1141
20120504 WOHT0
1142
20120505 LTSK0
1143
20120505 OBLG0
1144
20120505 HHSS0
1145
20120505 WOHT0
1146
20120506 OBLG0
1147
20120506 LTSK0
1148
20120506 HHSS0
1149
20120506 WOHT0
1150
20120508 SKOB0
1151
20120508 LGWO0
1152
20120508 HTHH0
1153
20120508 SSLT0
1154
20120509 SKOB0
1155
20120509 LGWO0
1156
20120509 HTHH0
1157
20120509 SSLT0
1158
20120510 SKOB0
1159
20120510 LGWO0
1160
20120510 HTHH0
1161
20120510 SSLT0
1162
20120511 SSLG0
1163
20120511 WOSK0
1164
20120511 OBHT0
1165
20120511 LTHH0
1166
20120512 SSLG0
1167
20120512 WOSK0
1168
20120512 LTHH0
1169
20120512 OBHT0
1170
20120513 SSLG0
1171
20120513 WOSK0
1172
20120513 LTHH0
1173
20120513 OBHT0
1174
20120515 HHOB0
1175
20120515 LGSK0
1176
20120515 HTSS0
1177
20120515 WOLT0
1178
20120516 HHOB0
1179
20120516 LGSK0
1180
20120516 HTSS0
1181
20120516 WOLT0
1182
20120517 LGSK0
1183
20120517 HHOB0
1184
20120517 HTSS0
1185
20120517 WOLT0
1186
20120518 LGOB0
1187
20120518 SSWO0
1188
20120518 SKHH0
1189
20120518 HTLT0
1190
20120519 LGOB0
1191
20120519 SSWO0
1192
20120519 SKHH0
1193
20120519 HTLT0
1194
20120520 LGOB0
1195
20120520 SSWO0
1196
20120520 SKHH0
1197
20120520 HTLT0
1198
20120522 WOLG0
1199
20120522 OBSK0
1200
20120522 LTSS0
1201
20120522 HHHT0
1202
20120523 WOLG0
1203
20120523 OBSK0
1204
20120523 LTSS0
1205
20120523 HHHT0
1206
20120524 LTSS0
1207
20120524 WOLG0
1208
20120524 OBSK0
1209
20120524 HHHT0
1210
20120525 LTOB0
1211
20120525 HHWO0
1212
20120525 SKSS0
1213
20120525 LGHT0
1214
20120526 LTOB0
1215
20120526 HHWO0
1216
20120526 SKSS0
1217
20120526 LGHT0
1218
20120527 LTOB0
1219
20120527 HHWO0
1220
20120527 SKSS0
1221
20120527 LGHT0
1222
20120529 HTOB0
1223
20120529 SKWO0
1224
20120529 SSHH0
1225
20120529 LGLT0
1226
20120530 HTOB0
1227
20120530 SKWO0
1228
20120530 SSHH0
1229
20120530 LGLT0
1230
20120531 HTOB0
1231
20120531 SKWO0
1232
20120531 SSHH0
1233
20120531 LGLT0
1234
20120601 HHLG0
1235
20120601 HTSK0
1236
20120601 OBSS0
1237
20120601 WOLT0
1238
20120602 HHLG0
1239
20120602 HTSK0
1240
20120602 OBSS0
1241
20120602 WOLT0
1242
20120603 HHLG0
1243
20120603 HTSK0
1244
20120603 OBSS0
1245
20120603 WOLT0
1246
20120605 SKOB0
1247
20120605 LGWO0
1248
20120605 LTHH0
1249
20120605 SSHT0
1250
20120606 SKOB0
1251
20120606 LTHH0
1252
20120606 SSHT0
1253
20120606 LGWO0
1254
20120607 SKOB0
1255
20120607 LGWO0
1256
20120607 LTHH0
1257
20120607 SSHT0
1258
20120608 SSSK0
1259
20120609 OBLG0
1260
20120609 SSSK0
1261
20120609 WOHH0
1262
20120609 HTLT0
1263
20120610 OBLG0
1264
20120610 SSSK0
1265
20120610 WOHH0
1266
20120610 HTLT0
1267
20120612 SKLG0
1268
20120612 HTWO0
1269
20120612 HHSS0
1270
20120612 OBLT0
1271
20120613 SKLG0
1272
20120613 HTWO0
1273
20120613 HHSS0
1274
20120613 OBLT0
1275
20120614 SKLG0
1276
20120614 HTWO0
1277
20120614 HHSS0
1278
20120614 OBLT0
1279
20120615 SSOB0
1280
20120615 LTWO0
1281
20120615 HHSK0
1282
20120615 LGHT0
1283
20120616 SSOB0
1284
20120616 LTWO0
1285
20120616 HHSK0
1286
20120616 LGHT0
1287
20120617 SSOB0
1288
20120617 LTWO0
1289
20120617 HHSK0
1290
20120617 LGHT0
1291
20120619 WOOB0
1292
20120619 LTSK0
1293
20120619 LGHH0
1294
20120619 HTSS0
1295
20120620 WOOB0
1296
20120620 LTSK0
1297
20120620 LGHH0
1298
20120620 HTSS0
1299
20120621 WOOB0
1300
20120621 LTSK0
1301
20120621 LGHH0
1302
20120621 HTSS0
1303
20120622 LTLG0
1304
20120622 SSWO0
1305
20120622 OBHH0
1306
20120622 SKHT0
1307
20120623 LTLG0
1308
20120623 SSWO0
1309
20120623 OBHH0
1310
20120623 SKHT0
1311
20120624 LTLG0
1312
20120624 SSWO0
1313
20120624 OBHH0
1314
20120624 SKHT0
1315
20120626 HTLG0
1316
20120626 OBWO0
1317
20120626 SKSS0
1318
20120626 HHLT0
1319
20120627 HTLG0
1320
20120627 OBWO0
1321
20120627 SKSS0
1322
20120627 HHLT0
1323
20120628 HTLG0
1324
20120628 OBWO0
1325
20120628 SKSS0
1326
20120628 HHLT0
1327
20120629 LTOB0
1328
20120629 HTHH0
1329
20120629 WOSS0
1330
20120630 LTOB0
1331
20120630 LGSK0
1332
20120701 LTOB0
1333
20120701 LGSK0
1334
20120701 HTHH0
1335
20120701 WOSS0
1336
20120703 SSLG0
1337
20120703 HHWO0
1338
20120703 SKLT0
1339
20120703 OBHT0
1340
20120704 SSLG0
1341
20120704 HHWO0
1342
20120704 SKLT0
1343
20120704 OBHT0
1344
20120707 OBLG0
1345
20120707 HTWO0
1346
20120707 SKHH0
1347
20120707 SSLT0
1348
20120708 OBLG0
1349
20120708 HTWO0
1350
20120708 SKHH0
1351
20120708 SSLT0
1352
20120710 HHOB0
1353
20120710 LGSS0
1354
20120711 HHOB0
1355
20120711 WOSK0
1356
20120712 HHOB0
1357
20120712 WOSK0
1358
20120712 LGSS0
1359
20120712 LTHT0
1360
20120713 WOLG0
1361
20120713 OBSK0
1362
20120713 HHLT0
1363
20120714 OBSK0
1364
20120715 HTSS0
1365
20120717 SKLG0
1366
20120717 LTWO0
1367
20120717 OBHT0
1368
20120718 SKLG0
1369
20120718 LTWO0
1370
20120718 SSHH0
1371
20120718 OBHT0
1372
20120719 SKLG0
1373
20120719 LTWO0
1374
20120719 SSHH0
1375
20120719 OBHT0
1376
20120724 LGOB0
1377
20120724 LTHH0
1378
20120724 SKSS0
1379
20120724 WOHT0
1380
20120725 LGOB0
1381
20120725 LTHH0
1382
20120725 SKSS0
1383
20120725 WOHT0
1384
20120726 LGOB0
1385
20120726 LTHH0
1386
20120726 SKSS0
1387
20120726 WOHT0
1388
20120727 LTOB0
1389
20120727 SSWO0
1390
20120727 LGSK0
1391
20120727 HHHT0
1392
20120728 LTOB0
1393
20120728 SSWO0
1394
20120728 LGSK0
1395
20120728 HHHT0
1396
20120729 LTOB0
1397
20120729 SSWO0
1398
20120729 LGSK0
1399
20120729 HHHT0
1400
20120731 HHLG0
1401
20120731 WOSK0
1402
20120731 OBSS0
1403
20120731 HTLT0
1404
20120801 HHLG0
1405
20120801 WOSK0
1406
20120801 OBSS0
1407
20120801 HTLT0
1408
20120802 HHLG0
1409
20120802 WOSK0
1410
20120802 OBSS0
1411
20120802 HTLT0
1412
20120803 HTOB0
1413
20120803 LGWO0
1414
20120803 SKHH0
1415
20120803 SSLT0
1416
20120804 HTOB0
1417
20120804 LGWO0
1418
20120804 SKHH0
1419
20120804 SSLT0
1420
20120805 HTOB0
1421
20120805 LGWO0
1422
20120805 SKHH0
1423
20120805 SSLT0
1424
20120807 LTLG0
1425
20120807 SSSK0
1426
20120807 OBHH0
1427
20120807 WOHT0
1428
20120808 LTLG0
1429
20120808 SSSK0
1430
20120808 OBHH0
1431
20120808 WOHT0
1432
20120809 LTLG0
1433
20120809 SSSK0
1434
20120809 OBHH0
1435
20120809 WOHT0
1436
20120810 SKOB0
1437
20120810 HHWO0
1438
20120810 LGSS0
1439
20120811 SKOB0
1440
20120811 HHWO0
1441
20120811 LGSS0
1442
20120811 LTHT0
1443
20120812 LGSS0
1444
20120812 LTHT0
1445
20120814 SKLT0
1446
20120814 HHSS0
1447
20120815 SKLT0
1448
20120815 HHSS0
1449
20120816 HTLG0
1450
20120816 OBWO0
1451
20120816 SKLT0
1452
20120817 SSOB0
1453
20120817 HTSK0
1454
20120817 LGHH0
1455
20120817 WOLT0
1456
20120818 SSOB0
1457
20120818 HTSK0
1458
20120818 LGHH0
1459
20120818 WOLT0
1460
20120819 SSOB0
1461
20120819 HTSK0
1462
20120819 LGHH0
1463
20120819 WOLT0
1464
20120821 LTSS0
1465
20120821 LGHT0
1466
20120822 WOOB0
1467
20120822 HHSK0
1468
20120822 LGHT0
1469
20120823 WOOB0

1470
20120823 HHSK0
1471
20120823 LGHT0
1472
20120824 SSLG0
1473
20120824 SKWO0
1474
20120824 OBLT0
1475
20120825 SSLG0
1476
20120825 SKWO0
1477
20120825 HTHH0
1478
20120825 OBLT0
1479
20120826 SSLG0
1480
20120826 SKWO0
1481
20120826 HTHH0
1482
20120826 OBLT0
1483
20120829 LGOB0
1484
20120829 LTSK0
1485
20120829 WOHH0
1486
20120829 SSHT0
1487
20120831 WOSS0
1488
20120831 LGLT0
1489
20120831 HHHT0
1490
20120901 OBSK0
1491
20120901 WOSS0
1492
20120901 LGLT0
1493
20120901 HHHT0
1494
20120902 OBSK0
1495
20120902 HTHH0
1496
20120902 WOSS0
1497
20120902 LGLT0
1498
20120904 LGSS0
1499
20120904 HTLT0
1500
20120905 OBHH0
1501
20120905 LGSS0
1502
20120905 SKHT0
1503
20120906 WOOB0
1504
20120906 LTHH0
1505
20120906 SKHT0
1506
20120907 WOOB0
1507
20120907 HHLT0
1508
20120907 SKHT0
1509
20120908 HTLG0
1510
20120908 WOSK0
1511
20120908 OBSS0
1512
20120908 HHLT0
1513
20120909 HTLG0
1514
20120909 WOSK0
1515
20120910 HTLG0
1516
20120910 WOSS0
1517
20120910 HHLT0
1518
20120911 SSHH0
1519
20120911 OBLT0
1520
20120912 SKLG0
1521
20120912 OBWO0
1522
20120912 SSHH0
1523
20120912 LTHT0
1524
20120913 OBWO0
1525
20120914 LTHT1
1526
20120914 LTHT2
1527
20120914 HHWO0
1528
20120915 LGOB0
1529
20120915 HHWO0
1530
20120915 HTSK0
1531
20120915 LTSS0
1532
20120916 LGOB0
1533
20120916 HHWO0
1534
20120916 HTSK0
1535
20120918 WOLG0
1536
20120918 SKLT0
1537
20120918 OBHT0
1538
20120918 HHSS0
1539
20120919 WOLG0
1540
20120919 SSHH0
1541
20120919 SKLT0
1542
20120919 OBHT0
1543
20120920 HHLG0
1544
20120920 LTWO0
1545
20120920 SSHT0
1546
20120921 LTLG0
1547
20120921 WOHH0
1548
20120921 SSHT0
1549
20120922 SKOB0
1550
20120922 HTWO0
1551
20120922 LTSS0
1552
20120923 SKOB0
1553
20120923 HTWO0
1554
20120923 LGLT0
1555
20120924 HHOB0
1556
20120924 LGSK0
1557
20120924 LTSS0
1558
20120925 HHOB0
1559
20120925 LGSK0
1560
20120925 HTSS0
1561
20120926 HHOB0
1562
20120926 SKWO0
1563
20120926 HTSS0
1564
20120927 WOLG0
1565
20120927 HHSK0
1566
20120927 SSLT0
1567
20120928 WOLG0
1568
20120928 OBHH0
1569
20120928 LTSS0
1570
20120928 SKHT0
1571
20120929 OBLG0
1572
20120929 WOHH0
1573
20120929 SKHT0
1574
20120930 OBLG0
1575
20120930 SSWO0
1576
20120930 LTHT0
1577
20121001 SSLG0
1578
20121001 OBWO0
1579
20121001 SKHH0
1580
20121001 LTHT0
1581
20121002 SSLG0
1582
20121002 OBWO0
1583
20121002 SKHH0
1584
20121002 LTHT0
1585
20121003 SKLG0
1586
20121003 HTHH0
1587
20121003 OBSS0
1588
20121004 WOHH0
1589
20121004 SKSS0
1590
20121005 WOOB0
1591
20121005 LTSK0
1592
20121005 SSHT0
1593
20121006 LGOB0
1594
20121006 LTSK0
1595
20121006 SSHT0
1596
20130330 LGSK0
1597
20130330 OBSS0
1598
20130330 HHLT0
1599
20130330 WOHT0
1600
20130331 LGSK0
1601
20130331 OBSS0
1602
20130331 HHLT0
1603
20130331 WOHT0
1604
20130402 SKOB0
1605
20130402 LGWO0
1606
20130402 HTHH0
1607
20130402 LTNC0
1608
20130403 SKOB0
1609
20130403 LGWO0
1610
20130403 HTHH0
1611
20130403 LTNC0
1612
20130404 SKOB0
1613
20130404 LGWO0
1614
20130404 HTHH0
1615
20130404 LTNC0
1616
20130405 OBLG0
1617
20130405 WOHH0
1618
20130405 NCSS0
1619
20130405 HTLT0
1620
20130407 OBLG0
1621
20130407 WOHH0
1622
20130407 NCSS0
1623
20130407 HTLT0
1624
20130409 NCLG0
1625
20130409 WOSK0
1626
20130409 HHSS0
1627
20130409 OBHT0
1628
20130410 NCLG0
1629
20130410 WOSK0
1630
20130410 HHSS0
1631
20130410 OBHT0
1632
20130411 NCLG0
1633
20130411 WOSK0
1634
20130411 HHSS0
1635
20130411 OBHT0
1636
20130412 LTOB0
1637
20130412 SSWO0
1638
20130412 LGHH0
1639
20130412 SKNC0
1640
20130413 LTOB0
1641
20130413 SSWO0
1642
20130413 LGHH0
1643
20130413 SKNC0
1644
20130414 LTOB0
1645
20130414 SSWO0
1646
20130414 LGHH0
1647
20130414 SKNC0
1648
20130416 NCHH0
1649
20130416 WOLT0
1650
20130416 LGHT0
1651
20130416 SKSS0
1652
20130417 NCHH0
1653
20130417 WOLT0
1654
20130417 LGHT0
1655
20130417 SKSS0
1656
20130418 SKSS0
1657
20130418 NCHH0
1658
20130418 WOLT0
1659
20130418 LGHT0
1660
20130419 HHOB0
1661
20130419 NCWO0
1662
20130419 HTSK0
1663
20130419 LTSS0
1664
20130421 HHOB0
1665
20130421 NCWO0
1666
20130421 HTSK0
1667
20130421 LTSS0
1668
20130424 SSLG0
1669
20130424 OBWO0
1670
20130424 SKLT0
1671
20130424 HTNC0
1672
20130425 SSLG0
1673
20130425 OBWO0
1674
20130425 SKLT0
1675
20130425 HTNC0
1676
20130426 LTLG0
1677
20130426 HHSK0
1678
20130426 SSHT0
1679
20130426 OBNC0
1680
20130427 LTLG0
1681
20130427 HHSK0
1682
20130427 SSHT0
1683
20130427 OBNC0
1684
20130428 LTLG0
1685
20130428 HHSK0
1686
20130428 SSHT0
1687
20130428 OBNC0
1688
20130430 HTOB0
1689
20130430 LTHH0
1690
20130430 WOSS0
1691
20130430 LGNC0
1692
20130501 HTOB0
1693
20130501 LTHH0
1694
20130501 WOSS0
1695
20130501 LGNC0
1696
20130502 HTOB0

In [5]:
# 각 경기별로 자료를 get하고 변형해 딕트로 모아줍니다.
temp_full ={}
for i in range(0,len(sample)):
    temp_data = main.get_data(sample.date[i],sample.gameid[i])
    temp_data = main.modify_data(temp_data)
    temp_full.update(temp_data)

In [6]:
# 144경기가 다 들어왔는지 확인합니다. 
len(temp_full.keys())

144

In [27]:
#첫 번째 경기를 잡아서 데이터가 잘 변경 됬는지 확인합니다.
#위에서 한 것과 똑같이 스코어 보드부터 홈,원정 타자 투수 정보까지 확인해줍니다.
pd.DataFrame(temp_full[list(temp_full.keys())[0]]['scoreboard'])

   1 10 11 12  2  3  4  5  6  7  8  9  B  E   H  R 승패   팀
0  1  -  -  -  1  0  0  0  0  1  0  0  1  1  13  3  패  한화
1  0  -  -  -  0  1  3  2  0  0  0  -  4  1  12  6  승  넥센

In [28]:
# 원정팀 타자 데이터가 잘 변경되었는지 확인해 줍니다.
pd.DataFrame(temp_full[list(temp_full.keys())[0]]['away_batter']).head()

,1,2,3,4,5,6,7,8,9,경기날짜,...,득점,선수명,안타,원정팀,타수,타율,타점,팀,포지션,홈팀
0,2000,7003,0,0,7405,0,1019,0,2000,2018-03-24,...,0,이용규,1,한화,5,0.20,1,한화,중,넥센
1,7006,0,7107,0,1017,0,7002,0,7101,2018-03-24,...,0,양성우,1,한화,5,0.20,0,한화,좌,넥센
2,1017,0,1019,0,0,2000,0,7003,0,2018-03-24,...,1,송광민,2,한화,4,0.50,0,한화,一,넥센
3,1011,0,1017,0,0,2000,0,1017,0,2018-03-24,...,0,김태균,3,한화,4,0.75,0,한화,지,넥센
4,0,0,0,0,0,0,0,0,0,2018-03-24,...,0,이동훈,0,한화,0,0.00,0,한화,주,넥센

In [31]:
#  홈팀 타자 데이터가 잘 변경되었는지 확인해 줍니다.
pd.DataFrame(temp_full[list(temp_full.keys())[0]]['home_batter']).head()

,1,2,3,4,5,6,7,8,9,경기날짜,...,득점,선수명,안타,원정팀,타수,타율,타점,팀,포지션,홈팀
0,7101,0,7100,1011,2000,0,7101,0,0.0,2018-03-24,...,0,서건창,1,한화,5,0.2,0,넥센,二,넥센
1,0,0,0,0,0,0,0,0,0.0,2018-03-24,...,0,김지수,0,한화,0,0.0,0,넥센,二,넥센
2,2000,0,2000,2000,7005,0,7003,0,0.0,2018-03-24,...,0,초이스,0,한화,5,0.0,0,넥센,우,넥센
3,2000,0,1302,3000,0,1011,0,7102,0.0,2018-03-24,...,1,김태완,2,한화,4,0.5,1,넥센,지,넥센
4,0,2000,1017,6002,0,1017,0,7302,0.0,2018-03-24,...,0,박병호,2,한화,5,0.4,0,넥센,一,넥센

In [32]:
#원정팀  투수 데이터가 잘 변경되었는지 확인 합니다.
pd.DataFrame(temp_full[list(temp_full.keys())[0]]['away_pitcher']).head()

,4사구,inning,restinning,경기날짜,더블헤더여부,등판,무승부,삼진,선수명,세이브,...,실점,원정팀,자책,타수,타자,팀,패배,포지션,홀드,홈팀
0,4.0,4,0,2018-03-24,0,1.1,0,8.0,샘슨,0,...,6.0,한화,5.0,21,25,한화,1,선발투수,0,넥센
1,0.0,0,2,2018-03-24,0,5.8,0,1.0,김범수,0,...,0.0,한화,0.0,3,3,한화,0,불펜투수,0,넥센
2,0.0,0,2,2018-03-24,0,5.2,0,0.0,심수창,0,...,0.0,한화,0.0,4,4,한화,0,불펜투수,0,넥센
3,0.0,0,2,2018-03-24,0,6.6,0,0.0,박주홍,0,...,0.0,한화,0.0,2,2,한화,0,불펜투수,0,넥센
4,0.0,0,2,2018-03-24,0,7.8,0,0.0,송은범,0,...,0.0,한화,0.0,3,3,한화,0,불펜투수,0,넥센

In [33]:
#홈팀  투수 데이터가 잘 변경되었는지 확인 합니다.
pd.DataFrame(temp_full[list(temp_full.keys())[0]]['home_pitcher']).head()

,4사구,inning,restinning,경기날짜,더블헤더여부,등판,무승부,삼진,선수명,세이브,...,실점,원정팀,자책,타수,타자,팀,패배,포지션,홀드,홈팀
0,1.0,6,2,2018-03-24,0,1.1,0,6.0,로저스,0,...,3.0,한화,2.0,26,27,넥센,0,선발투수,0,넥센
1,0.0,0,1,2018-03-24,0,7.1,0,0.0,이보근,0,...,0.0,한화,0.0,2,2,넥센,0,불펜투수,1,넥센
2,0.0,1,0,2018-03-24,0,8.3,0,1.0,김상수,0,...,0.0,한화,0.0,4,4,넥센,0,불펜투수,1,넥센
3,0.0,1,0,2018-03-24,0,9.7,0,2.0,조상우,1,...,0.0,한화,0.0,5,5,넥센,0,불펜투수,0,넥센

In [5]:
#1년치 한화 경기를 json 파일로 저장해 줍니다.
temp_file_name = "./sample/"+"Hanhwa"+"_"+"normalseason"+"_"+"2018"+".json"

with open(temp_file_name, 'w') as outfile:  
    json.dump(temp_full, outfile)

In [17]:
temp_file_name = "kbo"+"_"+"normalseason"+"_"+"full"+".json"

with open(temp_file_name, 'w') as outfile:  
    json.dump(full_data, outfile)

In [4]:
temp_file_name = "kbo"+"_"+"normalseason"+"_"+"full"+".json"

with open(temp_file_name) as outfile:  
    full_data= json.load(outfile)

# 1년치 경기 자료를 가지고 한화 선수들의 타율이나 팀타율 구해보기

In [3]:
#위에서 저장한 json파일여는 방법입니다.
temp_file_name = "./sample/"+"Hanhwa"+"_"+"normalseason"+"_"+"2018"+".json"
with open(temp_file_name) as outfile:  
    temp_full=json.load(outfile)

In [4]:
# 위의 과정을 따라왔다면 json 파일을 새로 열지 않은 상태에서 진행해도 무방합니다.
#경기별로 홈팀과 원정팀의 타자데이터만 모아줍니다.
away_team = pd.DataFrame()
home_team = pd.DataFrame()
for i in temp_full.keys():
    away_team = away_team.append(pd.DataFrame(temp_full[i]['away_batter']),sort=True)
    home_team = home_team.append(pd.DataFrame(temp_full[i]['home_batter']),sort=True)

In [10]:
# 홈과 원정으로 분리되어 저장한 타자 기록들을 하나로 모아줍니다.
temp_all=pd.concat([away_team,home_team],ignore_index=True)
temp_all=temp_all.fillna(0)

In [11]:
# 열순서를 조정해 줍니다
hanhwa_batter=pd.DataFrame(temp_all,columns=['경기날짜','선수명','포지션','팀',"더블헤더여부",'홈팀','원정팀','1','2','3','4','5','6','7','8','9','10','11','12','안타','타수','타율','타점','득점'])

In [16]:
#같은 방식으로 투수 데이터도 모아줍니다.
away_team = pd.DataFrame()
home_team = pd.DataFrame()
for i in temp_full.keys():
    away_team = away_team.append(pd.DataFrame(temp_full[i]['away_pitcher']),sort=True)
    home_team = home_team.append(pd.DataFrame(temp_full[i]['home_pitcher']),sort=True)

In [17]:
#원정팀과 홈팀의 자료를 하나로 모아줍니다.
temp_all=pd.concat([away_team,home_team],ignore_index=True)

In [18]:
# 빈 값에 0을 채웁니다.
temp_all=temp_all.fillna(0)

In [25]:
#열 순서를 재정리 해줍니다.
hanhwa_pitcher=pd.DataFrame(temp_all,columns=['경기날짜','선수명','포지션','팀','더블헤더여부','홈팀','원정팀','등판', 'inning', 'restinning', '승리','패배','무승부','세이브','홀드','삼진','4사구','실점','자책', '타수', '타자'])

In [62]:
# 한화의 팀타율을 구해봅니다.
sum(hanhwa_batter[hanhwa_batter['팀'] == "한화"]['안타'])/sum(hanhwa_batter[hanhwa_batter['팀'] == "한화"]['타수'])

0.2753419147224457

In [63]:
# 선수 개인의 타율 구해봅니다.
sum(hanhwa_batter[(hanhwa_batter['팀'] == "한화") & (hanhwa_batter['선수명']=="이용규")]['안타'])/sum(hanhwa_batter[(hanhwa_batter['팀'] == "한화")&(hanhwa_batter['선수명']=="이용규")]['타수'])

0.29327902240325865

In [84]:
#한화의 팀 방어율을 구해봅니다. 
#먼저 총 자책점에 9를 곱합니다.
er=sum(hanhwa_pitcher[hanhwa_pitcher['팀'] == "한화"]['자책'])*9
er

701.0

In [86]:
#팀의 총 이닝을 계산합니다.
ip=(sum(hanhwa_pitcher[hanhwa_pitcher['팀'] == "한화"]['inning'].astype(int))+
    sum(hanhwa_pitcher[hanhwa_pitcher['팀'] == "한화"]['restinning'].astype(int))/3)
ip

1274.0

In [53]:
#위에서 구한 것을 이용해 방어율을 계산합니다.
er/ip

4.952119309262167

In [55]:
# 개인의 방어율 또한 유사한 방식으로 구해줍니다.
er=sum(hanhwa_pitcher[(hanhwa_pitcher['팀'] == "한화")&(hanhwa_pitcher['선수명'] == "정우람")]['자책'])*9
er

180.0

In [64]:
ip=(sum(hanhwa_pitcher[(hanhwa_pitcher['팀'] == "한화")&(hanhwa_pitcher['선수명'] == "정우람")]['inning'].astype(int))+
    sum(hanhwa_pitcher[(hanhwa_pitcher['팀'] == "한화")&(hanhwa_pitcher['선수명'] == "정우람")]['restinning'].astype(int))/3)

In [65]:
er/ip

3.3962264150943398